/*
********************
general styles
********************
*/

body {
  /* padding: 10px 2.3% 0 2.3%; */
  font-size: 16px;
  line-height: 22px;
  /* box-sizing: border-box; */
  color: black;
  font-weight: normal;
  font-family: "Roboto", "Times New Roman", sans-serif;
}

.main-content-wrapper {
  /* top: 466px; */
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
}

.body-slider-wrapper {
  min-width: 900px;
  background-position: top center;
  background-repeat: no-repeat;
}

#slider-btn1:checked ~ .body-slider-wrapper label[for="slider-btn1"],
#slider-btn2:checked ~ .body-slider-wrapper label[for="slider-btn2"],
#slider-btn3:checked ~ .body-slider-wrapper label[for="slider-btn3"] {
  background-color: rgba(255, 255, 255, 1);
}

#slider-btn1:checked ~ .body-slider-wrapper {
  background-color: #849d8f;
  background-image: url(../img/slider-main-pic1.png);
}

#slider-btn2:checked ~ .body-slider-wrapper {
  background-color: #8996a6;
  background-image: url(../img/slider-main-pic2.png);
}

#slider-btn3:checked ~ .body-slider-wrapper {
  background-color: #9d8b84;
  background-image: url(../img/slider-main-pic3.png);
}

#slider-btn1:checked ~ .body-slider-wrapper .slide1 {
  display: block;
}

#slider-btn2:checked ~ .body-slider-wrapper .slide2 {
  display: block;
}

#slider-btn3:checked ~ .body-slider-wrapper .slide3 {
  display: block;
}

.body-slider-wrapper::before {
  background-image: url(../img/slider-main-pic3.png);
}

.body-slider-wrapper::after {
  background-image: url(../img/slider-main-pic2.png);
}

h2 {
  margin: 0;
  font-size: 60px;
  line-height: 60,35;
  color: #fcefd0;
  font-weight: normal;
  font-family: "Roboto", "Times New Roman", sans-serif;
}

h3 {
  margin: 0;
  font-size: 35px;
  line-height: normal;
  color: white;
  font-weight: bold;
  font-family: "Roboto", "Times New Roman", sans-serif;
}

/*
********************
grid index-page
********************
*/

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.header-wrapper {
  float: left;
  position: relative;
  width: 100%;
  margin-top: 10px;
  padding: 18px 2.3% 0 2.3%;
  box-sizing: border-box;
  z-index: 2;
  text-align: right;
  /*  min-width: 900px;
  max-width: 1200px;
  padding: 8px 1.5% 0 1.5%;
 */
  /* background-color: rgba(10, 175, 216, 0.4); */
}

.main-logo {
  float: left;
  margin-right: 16px;
  margin-left: -7px;
  margin-top: -19px;
}

.main-menu {
  position: relative;
  margin: 0;
  padding: 0;
}

.main-menu > li {
  float: left;
  margin-right: 2px;
  list-style: none;
}

.main-menu > li > a {
  padding: 6px 13px 6px 13px;
  border-radius: 25px;
  font-size: 16px;
  /* text-decoration: underline; */
  color: #ffffff;
  font-weight: bold;
  /* border-bottom: 1px solid #ffffff; */
}

.menu-pseudo-hover {
  position: absolute;
  visibility: hidden;
}

.main-menu > li > a:hover {
  color: #333333;
  background-color: #f7f6f3;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

/* .main-menu .main-menu-submenu:hover {
  text-decoration: none;
} */

.main-menu > li:hover .submenu {
  visibility: visible;
  opacity: 1;
  /* display: block; */
}

.main-menu .submenu {
  position: absolute;
  top: 22px;
  left: 156px;
  padding: 0;
  margin-top: 10px;
  /* display: none; */
  list-style: none;
  text-align: left;
  font-size: 14px;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0 16px 25px 5px rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s ease-out,
              opacity 0.5s ease-in-out;
}

.submenu > li > a {
  margin: 0 5px;
}

.submenu > li:hover:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.submenu > li:hover:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.submenu > li:hover {
  background-color: #fbded7;
}

.submenu > li:active {
  background-color: #f6b5a5;
}

.submenu > li > .submenu-active-item {
  background-color: #d07058;
}

.submenu > li > a {
  display: block;
  padding: 7px 16px 5px 15px;
  color: #323232;
  text-decoration: none;
}

.submenu > .submenu-new-items:after {
  content: "";
  position: absolute;
  left: 7px;
  top: 33px;
  width: 128px;
  border-bottom: 1px solid #d1d0ce;
}

.submenu-new-items > a {
  font-weight: bold;
}

.login-block {
  /* float: right; */
  display: inline-block;
  text-align: left;
  width: 270px;
  /* background-color: lightgreen; */
}

.top-menu-login-form,
.top-menu-backet {
  position: absolute;
  top: 49px;
  left: 64.5%; /*773px*/
  z-index: 150;

  display: block;
  width: 272px;
  height: 175px;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0 16px 25px 5px rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s ease-out,
              opacity 0.5s ease-in-out;
}

.top-menu-backet {
  width: 523px;
  height: 226px;
  left: 52.75%;
  padding-top: 13px;
  padding-left: 16px;
}

.top-menu-backet tr {
  font-size: 13px;
}

.top-menu-backet tr:hover {
  background-color: #fbded7;
}

.top-menu-backet tr:last-child {
  border-bottom: 1px solid #cacac7;
}

.top-menu-backet tr td {
  /* padding: 5px; */
  padding-top: 9px;
  padding-bottom: 11px;

/*   background-color: lightblue;
  box-shadow: 0 0 0 1px black;*/
}

.backet-table-cell-del-btn {
  width: 20px;
  text-align: left;
}

.backet-table-cell-item-pict {
  width: 46px;
  padding-top: 4px;
  text-align: center;
}

.backet-table-cell-item-descript {
  width: 230px;
  padding-left: 4px;
  line-height: 1.2;
}

.backet-table-cell-item-price {
  width: 129px;
  text-align: center;
}

.backet-table-cell-item-subtot {
  width: 78px;
  text-align: center;
}

.table-cell-item-price {
  color: #878787;
}

.top-menu-backet-make-order-btn {
  position: absolute;
  right: 16px;
  bottom: 21px;

  height: 25px;
  font-size: 15px;
  font-weight: bold;
}

.top-menu-btn {
  /* float: left; */
  position: relative;
  text-decoration: none;
  width: 50px;
  margin-left: 10px;
  padding: 8px 8px 7px 33px;
  color: #ffffff;
  font-size: 14px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.4);
}

.top-menu-btn:hover {
  color: #323232;
}

.top-menu-btn::before {
  content: "";
  position: absolute;
  left: 5px;
  background: url(../img/sprite.png) no-repeat 0 0;
}

.menu-login-icon {
  padding: 8px 14px 7px 44px;
  margin-left: 6px;
}

.menu-login-icon::before {
  height: 19px;
  width: 21px;
  left: 16px;
  top: 6px;
  background-position: -158px -19px;
}

.menu-login-icon:hover::before {
  height: 19px;
  width: 21px;
  left: 16px;
  top: 6px;
  background-position: -158px -0px;
}

.menu-basket-icon {
  padding: 8px 33px 7px 43px;
}

.menu-basket-icon::before {
  left: 14px;
  top: 5px;
  height: 20px;
  width: 21px;
  background-position: -131px -85px;
}

.menu-basket-icon:hover::before {
  left: 14px;
  top: 5px;
  height: 20px;
  width: 21px;
  background-position: -133px -62px;
}

.menu-basket-icon:active::before {
  left: 14px;
  top: 5px;
  height: 20px;
  width: 21px;
  background-position: -110px -85px;
}

.menu-search-icon {
  padding: 8px 8px 7px 23px;
}

.menu-search-icon::before {
  height: 17px;
  width: 17px;
  top: 7px;
  left: 7px;
  background-position: -158px -72px;
}

.menu-search-icon:hover::before {
  height: 17px;
  width: 17px;
  top: 7px;
  left: 7px;
  background-position: -158px -55px;
}

.menu-search-icon:hover,
.menu-login-icon:hover,
.menu-basket-icon:hover {
  background-color: #f8f7f4;
  transition: 0.5s ease-in-out;
}

.search-btn:hover + .global-search-field,
.login-btn:hover + .top-menu-login-form,
.backet-btn:hover + .top-menu-backet,
.global-search-field:hover,
.top-menu-login-form:hover,
.top-menu-backet:hover {
  visibility: visible;
  opacity: 1;

}

.search-btn:hover .global-search-field-wrapper {
  position: absolute;
  height: 30px;
  width: 200px;
  top: 20px;
  left: 680px;
  display: block;
  padding: 5px;
  background-color: aqua;
}

.global-search-field {
  position: absolute;
  top: 49px;
  left: 50.17%; /* 602px*/
  z-index: 150;

  display: block;
  width: 342px;
  height: 69px;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0 16px 25px 5px rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s ease-out,
              opacity 0.5s ease-in-out;
}

.working-time {
  /* float: right; */
  margin-top: 39px;
  text-align: right;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.7em;
}

.working-time b {
  font-size: 22px;
}

.content-wrapper {
  float: left;
  min-width: 860px;
  box-sizing: border-box;
  /* background-color: red; */
}

.main-slider-wrapper {
  position: relative;
  text-align: center;
  padding-top: 390px;
  z-index: 1;

/*   top: 0px;
  left: 6.42%;
  right: 6.42%;
  min-width: 860px;
  text-align: center;
 */
  /* background-color: coral; */
}

.slide {
  /* display: inline-block; */
  display: none;
  height: 257px;
}

.pict-ice-cream {
  width: 1045px;
  height: 100%;
  /*   width: 91.19%;
  height: 76.79%; */
/*  background-color: rgba(1, 254, 1, 0.7); */
}

.slogan {
  width: 700px;
  min-width: 670px;
  min-height: 116px;
  margin: 0 auto;
  color: #ffffff;
  font-weight: bold;
  line-height: 1em;
  letter-spacing: 0.005em;
}

.main-slider-btn {
  /* position: relative; */
  /* top: -41px; */
  margin-top: 33px;
  width: 230px;
  height: 53px;
  font-size: 31.48px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.main-slider-btn > span {
  position: relative;
  top: 13px;
  text-shadow: 2px 2px 13px rgba(0, 0, 0, 0.4);
}

.main-slider-hidden {
  display: none;
}

.announce-block-wrapper {
  float: left;
  padding: 0 2.3%;
  width: 100%;
  /*
  margin-bottom: 40px;
  min-width: 900px;
  max-width: 100%;
  padding: 0 2.25%; */
  box-sizing: border-box;
  margin-bottom: 39px;
  /* background-color: rgba(239, 254, 1, 1); */
}

.announce-block {
  position: relative;
  float: left;
  min-height: 229px;
  min-width: 419px;
  max-width: 48.8%;
  padding: 0;
  color: #ffffff;
  margin-right: 2.2%;
}

.announce-block:last-child {
  margin-right: 0;
}

.announce-background1 {
  background: #6e0e1f url(../img/announce-block-bg1.jpg) no-repeat right top;
}

.announce-background2 {
  background: #4e3428 url(../img/announce-block-bg2.jpg) no-repeat right top;
}

.announce-block-btn1 {
  float: right;
  margin-right: 20px;
  margin-top: 25px;
  margin-bottom: 23px;
  height: 36px;
  width: 118px;
  text-align: center;
}

.announce-block-btn1 span,
.announce-block-btn2 span {
  display: inline-block;
  font-size: 17px;
  font-weight: bold;
  padding-top: 6px;
}

.announce-block-btn1:hover,
.announce-block-btn2:hover {
  background: linear-gradient(to bottom, #f58669, #ec6f5e);
  transition: 0.5s ease-in-out;
}

.announce-block-btn2 {
  float: right;
  margin-right: 18px;
  margin-top: 25px;
  margin-bottom: 23px;
  height: 36px;
  width: 142px;
  text-align: center;
}

.quick-order-block-wrapper {
/*  position: relative;
  top: -394px; */
  float: left;
  padding: 0 2.3%;
  margin-bottom: 40px;
  text-align: center;
  font-size: 0;
  /* background-color: rgba(200, 25, 12, 0.7); */
}

.quick-order-item {
  display: inline-block;
/*  min-width: 200px; */
  width: 23.3%; /* 22.25 */
/*  margin: 0 1.40% 40px 1.40%; */
  margin: 0 2.26% 40px 0;
  vertical-align: top;
  font-size: 16px;
  /* background-color: rgba(200, 25, 12, 0.5); */
}

.quick-order-item:nth-child(4n) {
  margin-right: 0;
}

.quick-order-item > .ice-cream-pict {
  width: 100%;
  height: 100%;
  margin-bottom: 7px;
}

.quick-order-item-frst-pg {
  margin-bottom: 0;
}

.about-gllacy-wrapper {
  float: left;
/*  position: relative;
  top: -355px; */
/*  min-width: 860px;*/
  min-height: 306px;
  margin: 0 2.3% 40px 2.3%;

  background: #eaddbf url(../img/about-bg.jpg);
}

.about-gllacy-header {
  margin-bottom: 6px;
  padding: 22px 0 0 21px;
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.0079em;
  font-weight: bold;
}

.about-gllacy-advantage {
  float: left;
  position: relative;
  min-width: 419px; /*420px */
  max-width: 48.86%;  /* 560px*/
  margin-right: 2.2%;
  padding-top: 0;
  margin-bottom: -8px;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.about-gllacy-description-pos {
  margin-top: 16px;
  margin-bottom: 31px;
}

.about-gllacy-advantage:nth-child(odd) {
  margin-right: 0;
}

.about-gllacy-advantage > p {
  position: relative;
  min-width: 343px; /*200px; */
  max-width: 86%; /* 455px */
  padding-left: 76px;
}

.about-gllacy-advantage > .about-gllacy-descrip-pos1 {
  padding-left: 58px;
}

.about-gllacy-small-icon::before {
  content: "";
  position: absolute;
  /* margin-left: -515px; */
  margin-left: 19px;
  background: url(../img/sprite.png) no-repeat 0 0;
}

.about-gllacy-block-small-icon1::before {
  margin-top: 5px;
  content: "";
  height: 49px;
  width: 49px;
  background-position: -61px -0px;
}

.about-gllacy-block-small-icon2::before {
  margin-top: 2px;
  content: "";
  height: 49px;
  width: 49px;
  background-position: -0px -61px;
}

.about-gllacy-block-small-icon3::before {
  margin-left: 0;
  margin-top: 5px;
  content: "";
  height: 49px;
  width: 48px;
  background-position: -49px -61px;
}

.about-gllacy-block-small-icon4::before {
  margin-top: 2px;
  margin-left: 0;
  content: "";
  height: 49px;
  width: 48px;
  background-position: -110px -0px;
}

.feedback-form-map-block {
  position: absolute;
  right: 28px;
  top: 65px;
  width: 301px;
  height: 305px;
  border-radius: 15px;
  background-color: #fffffe;
}

.feedback-form-map-block > span {
  display: block;
  padding-top: 27px;
  padding-left: 25px;
  font-size: 14px;
}

.feedback-form-map-block .contact-addr {
  display: block;
  width: 230px;
  font-size: 18px;
  line-height: 1.3;
}

.news-block-wrapper {
  margin-bottom: 40px;
  padding: 0 2.3%;
}

.news-block-item {
  float: left;
  width: 48.87%;
  margin-right: 2.2%; /* 26px */
  min-width: 419px;
  min-height: 220px;
}

.news-block-item:last-child {
  margin-right: 0;
}

.map-wrapper {
  display: block;
  position: relative;
  /* float: left; */
  width: 100%;
  height: 35.83%; /* 430px */
  min-height: 430px;
  /* background-color: aqua; */
}

.map-wrapper > img {
  float: left;
  width: 100%;
  height: 100%;
  min-height: 430px;
}

.footer-wrapper {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  max-width: 1200px;
  padding: 18px 2.3% 25px 2.3%;
  text-align: center;
  font-size: 0;
}

.footer-item {
  float: left;
  margin-right: 2.17%; /* 26px */
  font-size: 16px;
  /* background-color: rgba(217, 109, 198, 0.5); */
}

.footer-item:last-child {
  float: right;
  margin-right: -31px;
}

.footer-social-net-block,
.footer-made-by-block {
  position: relative;
  left: -25px;
  top: 20px;
  width: 22.25%; /* 267px */
}

.footer-made-by-block {
  width: 194px;
  margin-top: -18px;
}

.footer-quick-links-block {
  display: inline-block;
  width: 32%; /* 560px */
  margin-top: 14px;
  margin-left: -139px;
  color: white;
  text-align: center;
  font-size: 13px;
}

/*
********************
STYLES index-page
********************
*/

.btn {
  display: inline-block;
  background: linear-gradient(to bottom, #f16743, #e74b37);
  color: white;
  text-decoration: none;
  padding: 5px 24px;
  border: none;
  border-radius: 25px;
  box-shadow: 0 4px 5px -3px #ac1202;
}

.btn:hover {
  background: linear-gradient(to bottom, #f58669, #ec6f5e);
}

.main-slider-btn {
 border-radius: 40px;
}

.item-border-radius {
  border-radius: 15px;
}

.last-news-block {
  color: black;
  background: #ffffff url(../img/blog-block-bg.jpg) no-repeat right top;
}

.last-news-header {
  margin: 24px 0 6px 18px;
  font-size: 16px;
  color: inherit;
}

.last-news-announcement-link {
  float: left;
  margin-left: 18px;
  color: inherit;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
}

.last-news-announcement-link:hover,
.top-menu-login-form-link:hover {
  color: #ec593c;
}

/*
********************
grid catalog-page
********************
*/

.quick-order-item-btn {
  display: none;
}

.breadcrumbs-wrapper {
  width: 100%;
  padding: 0 2.2%;
  margin-bottom: 25px;
  box-sizing: border-box;
  background-color: rgba(217, 109, 198, 0.3);
}

.breadcrumbs-list {
  padding: 0;
  margin: 0;
}

.breadcrumbs-list > li {
  float: left;
  width: 70px;
  padding-bottom: 10px;
  list-style: none;
  background-color: rgba(217, 109, 198, 0.5);
}

.breadcrumbs-content-header {
  float: left;
  width: 100%;
  line-height: normal;
  background-color: rgba(217, 109, 198, 0.7);
}

.breadcrumbs-list {
  width: 100%;
}

/***************************
grid form-filter   {
****************************/

.filter-form-wrapper {
  float: left;
  width: 100%;
  margin-bottom: 39px;
  padding: 0 2.25%; /* 27px */
  font-size: 0;
  box-sizing: border-box;
  background-color: rgba(1, 254, 1, 0.3);
}

.filter-form-item {
  display: inline-block;
  margin-right: 15px;
  font-size: 16px;
  background-color: rgba(1, 254, 1, 0.5);
}

.filter-form-lable {
  float: left;
}

.filter-form-select-list,
.filter-form-price-range-pict,
.filter-form-btn-group-wrapper {
  float: left;
  clear: left;
}

.filter-form-sort-criteria {
  min-width: 193px;
}

.filter-form-price-range {
  min-width: 220px;
}

.filter-form-fat-level {
  min-width: 417px;
}

/***************************
}   grid form-filter
***************************/

.item-list-wrapper {
  float: left;
  text-align: center;
  background-color: aqua;
}

.paginator {
  float: right;
  margin: 40px 0 39px 0;
  font-size: 0;
  background-color: rgba(1, 254, 1, 0.5);
}

.paginator li {
  display: inline-block;
  font-size: 16px;
  list-style: none;
}

.item-descript {
  display: inline;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.paginator-pages li a {
  text-decoration: none;
}

.subscribe-form-block {
  text-align: center;
  background-image: -webkit-repeating-linear-gradient(136deg,
                      #f8f7f4 2%,   /* бел */
                      #92cdff 2%,   /* син */
                      #92cdff 3.5%, /* син */
                      #f8f7f4 3.5%, /* бел */
                      #f8f7f4 5%,   /* бел */
                      #fe9e90 5%,   /* кра */
                      #fe9e90 6.5%, /* кра */
                      #f8f7f4 6.5%, /* бел */
                      #f8f7f4 8%    /* бел */);

  background-image: -moz-repeating-linear-gradient(136deg,
                      #f8f7f4 2%,   /* бел */
                      #92cdff 2%,   /* син */
                      #92cdff 3.5%, /* син */
                      #f8f7f4 3.5%, /* бел */
                      #f8f7f4 5%,   /* бел */
                      #fe9e90 5%,   /* кра */
                      #fe9e90 6.5%, /* кра */
                      #f8f7f4 6.5%, /* бел */
                      #f8f7f4 8%    /* бел */);

  background-image: -o-repeating-linear-gradient(136deg,
                      #f8f7f4 2%,   /* бел */
                      #92cdff 2%,   /* син */
                      #92cdff 3.5%, /* син */
                      #f8f7f4 3.5%, /* бел */
                      #f8f7f4 5%,   /* бел */
                      #fe9e90 5%,   /* кра */
                      #fe9e90 6.5%, /* кра */
                      #f8f7f4 6.5%, /* бел */
                      #f8f7f4 8%    /* бел */);

  background-image: repeating-linear-gradient(136deg,
                      #f8f7f4 2%,   /* бел */
                      #92cdff 2%,   /* син */
                      #92cdff 3.5%, /* син */
                      #f8f7f4 3.5%, /* бел */
                      #f8f7f4 5%,   /* бел */
                      #fe9e90 5%,   /* кра */
                      #fe9e90 6.5%, /* кра */
                      #f8f7f4 6.5%, /* бел */
                      #f8f7f4 8%    /* бел */);
}

.news-block-background {
  display: inline-block;
  width: 97.85%;
  min-width: 409px;
  min-height: 208px;
  margin: 1.07% 0;
  border-radius: 15px;
  font-size: 16px;
  text-align: justify;
  background-color: #f8f7f4;
}

.hit-picture::before {
  content: "";
  position: absolute;
  height: 61px;
  width: 61px;
  background: url(../img/sprite.png) no-repeat 0 0;
  background-position: -0px -0px;
}

.try-to-buy-bg:hover::before {
  position: absolute;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding: 20px;
  background-color: rgba(248, 247, 244, 0.3);
}

.contact-map {
  background: #dee0d0 url(../img/map-block-bg-1200.jpg) center 0px no-repeat;
}

.announce-header {
  padding: 0;
  margin: 13px 0 18px 19px;
  font-size: 35px;
  font-weight: bold;
}

.announce-description {
  font-size: 18px;
  margin-left: 19px;
  margin-bottom: 50px;
}

.price {
  float: left;
  position: relative;
  margin-top: -60px;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.price-amount {
  font-size: 45px;
  padding-right: 30px;
}

.price-amount::after {
  content: "";
  top: -5px;
  margin-left: 3px;
  width: 31px;
  height: 36px;
  position: absolute;
  background: url(../img/ruble-symbol-icon.png) no-repeat 0 0;
}

.top-menu-search-btn-wrapper {
  display: inline-block;
}

.top-menu-basket-wrapper {
  display: inline-block;
}

.login-menu-positioning {
  float: left;
}

.social-net-link {
  display: inline-block;
  margin-left: -4px;
  margin-right: 17px;
}

.social-net-link::before {
  content: "";
  height: 32px;
  width: 32px;
  display: inline-block;
  background: url(../img/sprite.png) no-repeat 0 0;
  border-radius: 50%;
/*   border: 3px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0 2px transparent; */
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.4);

}

.social-net-link:hover::before {
  /* border: 3px solid rgba(255, 255, 255, 0.7); */
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.7);
}

.twitter-icon::before {
  height: 32px;
  width: 33px;
  background-position: -188px -126px;
}

.twitter-icon:active::before {
  background-position: -188px -126px;
  /* box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.7); */
  /* border: 5px solid rgba(255, 255, 255, 0.7); */
  box-shadow: inset  0 3px 1px 0 rgba(0, 0, 0, 0.2),
              0 0 0 4px rgba(255, 255, 255, 0.7);
}

.insta-icon::before {
  background-position: -189px -46px;
}

.insta-icon:active::before {
  box-shadow: inset  0 3px 1px 0 rgba(0, 0, 0, 0.2),
              0 0 0 4px rgba(255, 255, 255, 0.7);
}

.vk-icon::before {
  background-position: -189px -86px;
}

.vk-icon:active::before {
  box-shadow: inset  0 3px 1px 0 rgba(0, 0, 0, 0.2),
              0 0 0 4px rgba(255, 255, 255, 0.7);
}

.fb-icon::before {
  background-position: -189px -6px;
}

.fb-icon:active::before {
  box-shadow: inset  0 3px 1px 0 rgba(0, 0, 0, 0.2),
              0 0 0 4px rgba(255, 255, 255, 0.7);
}

.menu-active-item > a {
  padding: 6px 13px 6px 13px;
  border-radius: 25px;
  background-color: #d07058;
  text-decoration: none;
}

.small-heart-icon::before {
  position: relative;
  top: 3px;
  left: -3px;
  content: "";
  height: 13px;
  width: 15px;
  display: inline-block;
  background: url(../img/sprite.png) no-repeat 0 0;
  background-position: -158px -89px;
}

.slider-btns {
  position: absolute;
  left: 27px;
  bottom: 58px;
}

.slider-btns label[for^="slider-btn"] {
  top: 10px;
  left: 20px;
  display: inline-block;
  margin-right: 4px;
  width: 17px;
  height: 17px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
}

label[for^="slider-btn"]:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

input[name="slider-btns"] {
  display: none;
}


.announce-block-btn {
  position: absolute;
  right: 20px;
  bottom: 23px;
  margin: 0;
}

.feedback-btn {
  width: 205px;
  height: 34px;
  margin-left: 24px;
  margin-top: 24px;
  text-align: center;
}

.feedback-btn > span {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.8;
}

.feedback-form {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;

  display: none;
  width: 477px;
  height: 442px;
  margin-left: -238px;
  margin-top: -221px;
  background-color: #f8f7f4;
  border-radius: 10px;

}

.overlay {
  content: "";
  position: fixed;
  width: 100vh;
  display: block;
  z-index: 90;
  background-color: rgba(0, 0, 0, 0.3);
}

.feedback-form-header {
  margin: 19px 0 20px 23px;
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.form-fields-style {
  width: 250px;
  height: 44px;
  margin-left: 24px;
  margin-bottom: 20px;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
}

.form-fields-style1 {
  width: 410px;
  height: 150px;
}

.feedback-form-btn {
  position: absolute;
  right: 25px;
  bottom: 27px;
  height: 43px;
  width: 137px;
  font-weight: bold;
  border: none;
}

.global-search-field1 {
  width: 290px;
  height: 35px;
  margin: 15px 0 0 15px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
}

.global-search-field1:focus {

}

.top-menu-fields {
  width: 208px;
  height: 36px;
  margin: 0 0 10px 16px;
  padding: 0 15px;
  font-size: 14px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.login-form-btn {
  position: absolute;
  left: 16px;
  bottom: 17px;
  width: 101px;
  height: 35px;
  border: none;
  font-size: 15px;
  font-weight: bold;
}

.top-menu-login-form-link {
  float: right;
  clear: both;
  margin-right: 18px;
  color: #333333;
  font-size: 13px;
  text-decoration: underline;
}

.top-menu-fields-pos {
  margin-top: 19px;
}

.top-menu-login-form-link-pos {
  margin-right: 35px;
}

.get-email-field {
  float: left;
  height: 42px;
/*  min-width: 30%;*/
max-width: 100%; /*  348px; */
  min-width: 40%; /*229px; */
  margin-left: 20px;
  padding: 0 9px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover {
  outline: none;
  border-color: #c7c6c5;
  box-shadow: 0 0 0 1px #c7c6c5;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  outline: none;
  border-color: #8fbdec;
  box-shadow: 0 0 0 1px #8fbdec;
}

.subscribe-description {
  margin: 28px 20px 37px 20px;
}

.get-email-btn {
  margin-left: 8px;
  width: 128px;
  height: 42px;
  font-size: 17px;
  font-weight: bold;
}

.footer-quick-links-block > div {
  display: inline-block;
  width: 138px;
  vertical-align: top;
  text-align: left;
}

.footer-quick-links-block a {
  white-space: nowrap;
}

.footer-quick-links-block a:hover,
.made-by-name > a:hover {
  color: #ffbc9e;
}

.footer-quick-links {
  color: white;
}

.footer-quick-links-left a:first-of-type {
  margin-left: -19px;
}

.made-by-logo {
  float: left;
  clear: both;
}

.made-by-name {
  float: left;
  font-size: 12px;
  color: white;
}

.made-by-name > a {
  color: white;
}

.top-menu-backet-totals-block {
  float: right;
  margin-right: 25px;
  margin-top: 16px;
  font-size: 15px;
}
