/*
********************
general styles
********************
*/

body {
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;

  font-size: 16px;
  line-height: 22px;
  color: black;
  font-weight: normal;
  font-family: "Times New Roman", serif;
/*  background-color: #849d8f; */

}

h2 {
  margin: 0;
  font-size: 60px;
  line-height: 60,35;
  color: #fcefd0;
  font-weight: normal;
  font-family: "Times Ne Roman", serif;
}

h3 {
  margin: 0;
  font-size: 35px;
  line-height: normal;
  color: white;
  font-weight: bold;
  font-family: "Times Ne Roman", serif;
}

/*
********************
grid index-page
********************
*/

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.header-wrapper {
  min-width: 900px;
  max-width: 1200px;
  width: 100%;
  margin-top: 8px;
  padding: 0 1.5%;
  box-sizing: border-box;
  background-color: lightblue;
}

.main-logo {
  float: left;
  margin-right: 29px;
}

.main-menu li {
  float: left;
  margin-right: 28px;

  list-style: none;
  text-decoration: none;
  background-color: yellow;
}

.main-menu {
  background-color: lightyellow;
}

.submenu {
  display: none;
}

.login-block {
  float: right;
  background-color: lightyellow;
}

.global-search-field {
  display: none;
}

.top-menu-login-form {
  display: none;
}

.top-menu-backet-show {
  display: none;
}

.top-menu-btn {
  float: right;
  margin-left: 10px;
}

.working-time {
  float: right;
}

.content-wrapper {

  background-color: rgba(1, 254, 1, 0.3);
}

.main-slider-wrapper {
  font-size: 0;
  text-align: center;
/*  margin-top: -91px;     <-отключил временно до решения наставника*/
  background-color: coral;
}

.slide {
  display: inline-block;
  min-width: 900px;
  background-color: rgba(1, 254, 1, 0.7);
  width: 91.19%;
/*  width: 1045px;
  height: 881hx;
  background-color: aqua;
*/
}

.slide > img {
  width: 91.19%;
  height: 76.79%;
}

.slogan {
  position: relative;
  min-width: 670px;
  min-height: 116px;
  top: -490px;
}

.main-slider-hidden {
  display: none;
}

.main-slider-btn {
  position: relative;
  display: inline-block;
  min-width: 278px;
  height: 63px;
  top: -480px;
  font-size: 31.48px;
}

.advertising-block-wrapper {
  position: relative;
/*  float: left; */
  top: -433px;
  min-width: 900px;
  max-width: 100%;
  padding: 0 2.25%; /* 27px */
  background-color: rgba(239, 254, 1, 1);
}

.advertising-block {
  float: left;
  min-width: 420px;
  max-width: 48.86%; /*560px;   box-sizing: border-box;*/
  color: #ffffff;
  margin-right: 2.27%;
  min-height: 229px;;
}

.advertising-block-wrapper .advertising-block:last-child {
  margin-right: 0;
}

.quick-order-block-wrapper {
  position: relative;
  top: -394px;
  background-color: rgba(200, 25, 12, 0.7);
}

.quick-order-item {
  float: left;
  width: 22.2%;
  margin: 0 1.40%;
  min-width: 10%;
}

.quick-order-item > .ice-cream-pict {
  min-width: 200px;
  width: 100%;
  height: 100%;
}

.about-gllacy-wrapper {
  position: relative;
  top: -355px;
  min-width: 900px;
  max-width: 95.5%;
  min-height: 307px;
  margin: 0 auto;
}

.about-gllacy-header {
  margin-bottom: 11px;
  padding: 30px 0 0 21px;
}

.about-gllacy-advantage {
  float: left;
  min-width: 420px;
  width: 48.86%;  /* 560px*/
  margin-right: 2.27%;
  background-color: rgba(238, 114, 4, 0.3);
}

.about-gllacy-advantage:nth-child(odd) {
  margin-right: 0;
}

.about-gllacy-advantage > img,
.about-gllacy-advantage > p {
  float: left;
  background-color: rgba(238, 114, 4, 0.5);
}

.about-gllacy-advantage > img {
  padding-left: 20px; /* 20px*/
  padding-right: 8px; /* 8px*/
}

.about-gllacy-advantage > p {
  width: 84.82%; /* 475px*/
  min-width: 200px;
}

.feedback-form {
  display: none;
}

.news-block-wrapper {
position: relative;
  top: -330px;
}

/*
********************
STYLES index-page
********************
*/

.btn {
  display: inline-block;
  background: linear-gradient(to bottom, #f16743, #e74b37);
  color: white;
  text-decoration: none;
  padding: 5px 24px;
  border-radius: 25px;
  box-shadow: 0 4px 5px -3px #ac1202;
}

.main-slider-btn {
 border-radius: 40px;
}

.advertising-block {
  border-radius: 15px;
}

.advertising-background1 {
  background: url(../img/advert-block-bg1.png);
}

.advertising-background2 {
  background-image: url(../img/advert-block-bg2.png);
}

.about-gllacy-wrapper {
  background-image: url(../img/about-bg.jpg);
  border-radius: 15px;
}

.about-gllacy-header {
  color: black;
  font-size: 24px;
  line-height: 30px;
}
